.vscode/
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.lol
*.ent
*.equ
*.glsdefs
*.fls
*.nav
*.snm
*.fdb_latexmk
*.synctex(busy)
**/diagrams/*.pdf
*.bkp
**/svg-inkscape/
**/animations/*.png
